<style type="text/css">
p{
    background-color:yellow;
    font-size:xx-small;
}
id-dc{
    /* display:none; */
    /* visibility: hidden; */
    /* border:1px solid red; */
    /* background-color: #FFF5F4; */
    font-weight:bold;
}
td-dc{
    /* display:none; */
    /* visibility: hidden; */
    /* border:1px solid red; */
    /* background-color: #FFF5F4; */
    /* font-weight:bold; */
}
rs-dc{
    /* display:none; */
    /* visibility: hidden; */
    /* border:1px solid #ccc; */
    /* background-color:#efefef; */
    font-weight:bold;
}
tl-dc{
    /* display:none; */
    /* visibility: hidden; */
    /* border:1px solid #ccc; */
    /* background-color:#efefef; */
    font-weight:bold;
}
ac-dc{
    /* display:none; */
    /* visibility: hidden; */
    /* border:1px solid #ccc; */
    color:#888888;
    /* background-color:#efefef; */
    font-weight:bold;
}
rt-dc{
    /* display:none; */
    /* visibility: hidden; */
    /* border:1px solid #ccc; */
    /* background-color:#efefef; */
    font-weight:bold;
}
ts-dc{
    /* display:none; */
    /* visibility: hidden; */
    /* border:1px solid red; */
    /* background-color: #FFF5F4; */
    font-weight:bold;
}
tb-dc{
    /* display:none; */
    /* visibility: hidden; */
    /* border:1px solid red; */
    /* background-color: #FFF5F4; */
    font-weight:bold;
}
</style>
