<style type="text/css">
action{visibility: hidden;border:1px solid #ccc;background-color:#efefef;font-weight:bold;}
todo{visibility: hidden;border:1px solid red;background-color: #FFF5F4;font-weight:bold;}
timestamp{visibility: hidden;border:1px solid red;background-color: #FFF5F4;font-weight:bold;}
timeblock{visibility: hidden;border:1px solid red;background-color: #FFF5F4;font-weight:bold;}
</style>
