<style type="text/css">
zzz{
    display:none;
    /* visibility: hidden; */
    /* border:1px solid #ccc; */
    /* background-color:#efefef; */
    /* font-weight:bold; */
    }
idea{
    display:none;
    /* visibility: hidden; */
    /* border:1px solid red; */
    /* background-color: #FFF5F4; */
    /* font-weight:bold; */
}
todo{
    display:none;
    /* visibility: hidden; */
    /* border:1px solid red; */
    /* background-color: #FFF5F4; */
    /* font-weight:bold; */
}
resource{
    display:none;
    /* visibility: hidden; */
    /* border:1px solid #ccc; */
    /* background-color:#efefef; */
    /* font-weight:bold; */
}
tool{
    display:none;
    /* visibility: hidden; */
    /* border:1px solid #ccc; */
    /* background-color:#efefef; */
    /* font-weight:bold; */
}
action{
    display:none;
    background-color:#efefef;
    font-weight:bold;
}
result{
    display:none;
    /* visibility: hidden; */
    /* border:1px solid #ccc; */
    /* background-color:#efefef; */
    /* font-weight:bold; */
}
timestamp{
    display:none;
    /* visibility: hidden; */
    /* border:1px solid red; */
    /* background-color: #FFF5F4; */
    /* font-weight:bold; */
}
timeblock{
    display:none;
    /* visibility: hidden; */
    /* border:1px solid red; */
    /* background-color: #FFF5F4; */
    /* font-weight:bold; */
}
</style>
