<style type="text/css">
p.if {
    display:none;
    /* visibility: hidden; */
    /* border:1px solid red; */
    /* background-color: #FFF5F4; */
    font-weight:bold;
}
p.id {
    display:none;
    /* visibility: hidden; */
    /* border:1px solid red; */
    /* background-color: #FFF5F4; */
    font-weight:bold;
}
p.todo {
    display:none;
    /* visibility: hidden; */
    /* border:1px solid red; */
    /* background-color: #FFF5F4; */
    /* font-weight:bold; */
    font-size:10px;
}
p.rs {
    display:none;
    /* visibility: hidden; */
    /* border:1px solid #ccc; */
    /* background-color:#efefef; */
    font-weight:bold;
}
p.tl {
    display:none;
    /* visibility: hidden; */
    /* border:1px solid #ccc; */
    /* background-color:#efefef; */
    font-weight:bold;
}
p.ac {
    display:none;
    /* visibility: hidden; */
    /* border:1px solid #ccc; */
    text-align:right;
    color:#888888;
    /* background-color:#efefef; */
    font-weight:bold;
}
p.fb {
    display:none;
    /* visibility: hidden; */
    /* border:1px solid #ccc; */
    /* background-color:#efefef; */
    font-weight:bold;
}
p.rt {
    display:none;
    /* visibility: hidden; */
    /* border:1px solid #ccc; */
    /* background-color:#efefef; */
    font-weight:bold;
}
p.ts {
    display:none;
    /* visibility: hidden; */
    /* border:1px solid red; */
    /* background-color: #FFF5F4; */
    font-weight:bold;
}
p.tb {
    display:none;
    text-align:right;
    /* visibility: hidden; */
    /* border:1px solid red; */
    /* background-color: #FFF5F4; */
    font-weight:bold;
}
</style>
